name: CI

on:
  schedule:
    - cron:  '0 12 * * *'
  workflow_dispatch:

jobs:
  update:
    name: Update databases

    runs-on: ubuntu-latest
    env:
      GITLAB_USER_NAME: ${{ github.repository_owner }}
      CI_SERVER_HOST: gitlab.com
      CI_PROJECT_NAME: ${{ github.event.repository.name }}
      CI_PROJECT_PATH: ${{ github.repository }}
      CI_PROJECT_URL: "https://gitlab.com/${{ github.repository }}"
      CI_DEFAULT_BRANCH: main
      KEY: ${{ secrets.KEY }}
      TOKEN1: ${{ secrets.TOKEN1 }}
      TOKEN2: ${{ secrets.TOKEN2 }}
      TOKEN: ${{ secrets.TOKEN }}
    steps:
    - uses: actions/checkout@v3
    - name: Before script
      run: |
        wget https://raw.github.com/tdulcet/Linux-System-Information/master/info.sh -qO - | bash -s
        git clone "https://$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
    - name: Script
      run: |
        export LC_ALL=en_US.UTF-8
        cd "$CI_PROJECT_NAME"
        bash update.sh
        git config --global user.email "${{ secrets.GITLAB_USER_EMAIL }}"
        git config --global user.name "$GITLAB_USER_NAME"
        git config --global http.postBuffer $((2 * 1024 ** 3))
        bash commit.sh
        git remote set-url origin "https://$GITLAB_USER_NAME:${{ secrets.ACCESS_TOKEN }}@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
        free -wh
        git gc
        free -wh
        git push origin "HEAD:$CI_DEFAULT_BRANCH" -f
        curl -sS -X POST -H "PRIVATE-TOKEN: ${{ secrets.ACCESS_TOKEN }}" "https://$CI_SERVER_HOST/api/v4/projects/$GITLAB_USER_NAME%2F$CI_PROJECT_NAME/housekeeping?task=prune"
        cp README.md CHANGELOG.md ..
    - name: After script
      run: |
        git commit -am "Updated databases $(date -u +%F)."
        git push
