name: CI

on:
  schedule:
    - cron:  '0 12 * * *'

jobs:
  update:
    name: Update databases

    runs-on: ubuntu-latest
    env:
      GITLAB_USER_NAME: ${{ github.repository_owner }}
      CI_SERVER_HOST: gitlab.com
      CI_PROJECT_PATH: ${{ github.repository }}
      CI_PROJECT_URL: "https://gitlab.com/${{ github.repository }}"
      CI_DEFAULT_BRANCH: main
      GITLAB_USER_EMAIL: ${{ secrets.GITLAB_USER_EMAIL }}
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      KEY: ${{ secrets.KEY }}
      TOKEN1: ${{ secrets.TOKEN1 }}
      TOKEN2: ${{ secrets.TOKEN2 }}
      TOKEN: ${{ secrets.TOKEN }}
    steps:
    - uses: actions/checkout@v3
    - name: Before script
      run: |
        git clone "https://$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
    - name: Script
      run: |
        export LC_ALL=en_US.UTF-8
        cd ip-geolocation-dbs
        bash update.sh
        git config --global user.email "$GITLAB_USER_EMAIL"
        git config --global user.name "$GITLAB_USER_NAME"
        git config --global http.postBuffer $((1024 ** 3))
        bash commit.sh
        git remote set-url origin "https://$GITLAB_USER_NAME:$ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
        git gc
        git push origin "HEAD:$CI_DEFAULT_BRANCH" -f
        cp README.md CHANGELOG.md ..
    - name: After script
      run: |
        git commit -am "Updated databases $(date -u +%F)."
        git push
